@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
    min-height: 5em;
    border: 2px saddlebrown solid;
    font-size: 16px;
    font-weight: 600;
    position: relative;

    .header-menu{
      img{
        height: 32px;
        width: 32px;
      }
    }
    .logo {
      img{

        height: 5em;
        width: 200px;
        padding-bottom: 25px;
      }
    }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;



    li {
      float: left;
        a {
          display: flex;
          color: #333;
          align-items: center;
          text-align: center;
          padding: 10px 12px;
          text-decoration: none;

          svg{
            margin-right: 10px;
          }

          &:hover{
            color: red;
            transition: .4s;
          }
        }
    }
  }
}
.col-4-position-non{
  position: inherit;
}

.section{
     font-size: 18px;


  .block-hiden1{
      display: none;
      width: 100%;
      border: 7px solid red;
      padding: 25px 35px;

    .item{
      border-right: 1px solid silver;
      margin-right: 35px;
      padding: 25px 35px;
      font-size: 18px;

      p{
        text-align: left;
      }

    }
  }


}


.menu {
  background: white;
}

.menu .items {
  display: flex;
  justify-content: space-around;
}

.menu .items .item {
  padding: 15px 30px;
  background: blue;
  color: white;
}

.content {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: white;
  border: 1px solid #141413;
  padding: 30px;
}

.menu .items .item:hover + .content {
  display: block;
}



@media screen and (min-width: 400px) and (max-width: 768px){
  body {
    background-color: lightgreen;
  }
  .item{
    border: 1px solid silver;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }

}

@media screen and (min-width: 992px) {
  body {
    background-color: lavender;
  }
}
